@import url('https://fonts.cdnfonts.com/css/ubuntu-title');
body {
    margin: 0;
    font-family: 'Ubuntu-Title';
    background-color: #f0f1f3;
  }
  .test{
    display: inline-block;
    width: 300px;
    background: #f0f1f3;
    border-radius: 16px;
    box-shadow: 0px 100px 70px rgba(169,180,203,.2), -3px -3px 4px #fff, 0px 3px 0px #d6dadf, inset 0px -20px 20px rgba(255,255,255,.2);
    position: relative;
    padding: 10px;
  }
  .parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url(8247570_3846574.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
    text-align: center;
  }
  
  .buffer {
    width: 100%;
    min-height: 300vh;
    background-color: #f0f1f3;
  }
  
  h1 {
    font-size: 6rem;
    font-weight: 1500;
    position: absolute;
    color: #fbdd8b;
    font-family: 'Ubuntu-Title';
    top: 32%;
  }
  h2{
    font-size: 6rem;
    font-weight: 1500;
    position: relative;
    color: #0f1113;
    font-family: 'Ubuntu-Title-fr';
    text-align: center;
  }
  p {
    max-width: 52ch;
    padding: 1em;
    line-height: 1.5;
  }
  
  a {
    display: inline-block;
    padding: 1em 3.5em;
    border-radius: 0.3em;
    background-color: var(--color);
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  h3 {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 700;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }